#clock {
    text-align: right;
    margin-right: 170px;
    font-size: 5rem;
    color: black;
    text-shadow:
        -0.5px -0.5px 0 white,
        0.5px -0.5px 0 white,
        -0.5px 0.5px 0 white,
        0.5px 0.5px 0 white;
}