#loginform {
    text-align: center;
    margin-top: 20px;
}

#loginform input {
    width: 90%;
    max-width: 240px;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 10px;
    background-color: white;
    box-sizing: border-box;
}

#greeting {
    text-align: center;
    margin: 10px 0;
    font-size: 2rem;
    color: yellowgreen;
}