#loginform {
    text-align: center;
    margin-top: -45px;
}

#loginform input {
    text-align: center;
    margin-top: 40px;
    font-size: 1.3rem;
    width: 240px;
    background-color: white;

}

#loginform input:nth-child(1):hover {
    background-color: rgba(255, 255, 255, 0.7);
}

#loginform input:nth-child(1):focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;

}

#greeting {
    text-align: center;
    margin: 5%;
    font-size: 2rem;
    color: yellowgreen;
}