#todo_container {

    border: 1rem solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.3);

    width: 100%;
    max-width: 500px;

    box-sizing: border-box;
    min-height: 400px;

    padding: 15px;
}

/* 날짜 */

#cur_date {

    text-align: center;
    color: white;
    font-size: 2rem;

    margin: 0;
    padding: 10px;

}

/* 입력 */

#todoform {
    display: flex;
    justify-content: center;
}

#todoform input {

    width: 100%;
    max-width: 100%;

    padding: 10px;

    text-align: center;
    font-size: 1.5rem;

    background-color: rgba(225, 255, 255, 0.3);
    color: white;

}

/* 리스트 */

#todolist li {

    width: 100%;
    max-width: 540px;

    color: black;
    font-size: 1.5rem;

    list-style: none;
    position: relative;

}

#todolist button {

    position: absolute;
    right: 5%;

    color: orange;
    font-weight: 700;

    height: 35px;
    width: 35px;

}